.menu-wrapper {
  color: red;
  background-color: blue;
  height: 93vh;
  width: 62vw;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-page {
    background-color: yellow;
  }

  #bf-entree {
    background-color: purple;
  }

  #bf-side {
    background-color: orange;
  }

  #lun-entree {
    background-color: purple;
  }

  #lun-side {
    background-color: orange;
  }

  #din-entree {
    background-color: purple;
  }

  #din-side {
    background-color: orange;
  }
}
